* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  position: relative;
}

body {
  width: 100%;
  font-family: sans-serif;
  font-family: "Inter", sans-serif;
}

body ul {
  list-style-type: none;
}

body img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #1e202a;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

main {
  width: 85%;
  margin: auto;
  color: #8b97c6;
  font-weight: 700;
  font-size: 1.4rem;
}

header {
  padding: 4rem 0;
}

header h1,
header h2 {
  font-size: 2.8rem;
}

@media (max-width: 399px) {
  header h1,
  header h2 {
    font-size: 6.3vw;
  }
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 28rem;
  border-radius: 0.8rem;
  background-color: #252a41;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card > * {
  position: relative;
}

.card:hover {
  background-color: #0d0d0d;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  background-color: black;
  -webkit-transition: -webkit-clip-path 0.4s ease;
  transition: -webkit-clip-path 0.4s ease;
  transition: clip-path 0.4s ease;
  transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;
  border-radius: inherit;
}

.card:active::before {
  -webkit-clip-path: circle(75% at 50% 50%);
          clip-path: circle(75% at 50% 50%);
}

.card::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 98%;
  border-radius: 0.8rem 0.8rem 0 0;
}

@media (max-width: 682px) {
  .card {
    width: 100%;
  }
}

.up,
.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up img,
.down img {
  margin-right: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.bold {
  color: white;
}

.up {
  color: #1db489;
}

.down {
  color: #dc414c;
}

.number {
  font-size: 6rem;
}

.number-sm {
  font-size: 4rem;
}

.facebook::after {
  background: #198ff5;
}

.twitter::after {
  background: #1ca0f2;
}

.instagram::after {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.youtube::after {
  background: #c4032a;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 27.4rem;
  border-radius: 0 0 2rem 2rem;
  background: #1b1d27;
  z-index: -1;
}

header.initial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 682px) {
  header.initial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header.initial .heading {
    margin-bottom: 2rem;
  }
  header.initial .theme-switcher {
    padding-top: 2rem;
    border-top: 0.1rem solid #63687e;
  }
}

header.initial .heading p {
  margin-top: 0.5rem;
}

header.initial .theme-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.initial .theme-switcher .label-text {
  margin-right: 1rem;
}

header.initial .theme-switcher .switch-container {
  width: 5rem;
  height: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, #378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6 3%, #3eda82);
  border-radius: 1.2rem;
  position: relative;
}

header.initial .theme-switcher .switch-container #switch {
  opacity: 0;
}

header.initial .theme-switcher .switch-container::before {
  content: "";
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  top: 50%;
  left: 0.3rem;
  right: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #1f212e;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

header.initial .theme-switcher .switch-container:hover::before {
  -webkit-box-shadow: 0.3rem 0.1rem 1rem #484d6a;
          box-shadow: 0.3rem 0.1rem 1rem #484d6a;
}

@media (max-width: 682px) {
  header.initial .theme-switcher {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card-container > .card {
  padding: 3.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container > .card > .card-body {
  text-align: center;
}

.card-container > .card > .card-body li:nth-child(1),
.card-container > .card > .card-body li:nth-child(3) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container > .card > .card-body li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container > .card > .card-body li:nth-child(1) img {
  margin-right: 0.5rem;
}

.card-container > .card > .card-body li:nth-child(2) {
  margin: 3.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-container > .card > .card-body li:nth-child(2) span.number + span {
  margin-top: 0.3rem;
  font-size: 1.3rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  font-weight: 400;
}

.overview-container > .card-container > .card {
  padding: 2.3rem 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview-container > .card-container > .card > div:nth-child(odd) {
  -ms-grid-column-align: start;
      justify-self: start;
}

.overview-container > .card-container > .card > div:nth-child(even) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.overview-container > .card-container > .card > div:last-child {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 1rem;
}

.overview-container > .card-container > .card > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 319px) {
  .overview-container > .card-container > .card > div:nth-child(3) {
    font-size: 3rem;
  }
  .overview-container > .card-container > .card > div:nth-child(1) {
    font-size: 1.3rem;
  }
}

@media (max-width: 252px) {
  .overview-container > .card-container > .card > div:nth-child(3) {
    font-size: 2.1rem;
  }
  .overview-container > .card-container > .card > div:last-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0;
  }
}

body.old header {
  padding: 4rem 0 3rem;
}

body.old header header.initial {
  padding: 4rem 0;
}

body.old .card-container {
  gap: 0;
}

body.old .card {
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.attribution {
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  font-family: verdana, sans-serif;
}

.attribution a {
  color: #007bff;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

.attribution a:nth-child(1) {
  border-right: 0.1rem solid;
  padding-right: 1rem;
}

.attribution a:nth-child(2) {
  padding-left: 1rem;
}

@media (max-width: 1388px) {
  .attribution {
    position: static;
    padding: 3rem 0;
  }
}

@media (max-width: 252px) {
  .attribution a {
    display: block;
    padding: 0 !important;
    border: 0 !important;
  }
}

@media (min-width: 1389px) and (max-height: 894px) {
  .attribution {
    position: static;
    padding: 3rem 0;
  }
}

body.light-theme {
  background-color: white;
}

body.light-theme main {
  color: #63687e;
}

body.light-theme .bold {
  color: #1e202a;
}

body.light-theme .card {
  background-color: #f0f2fa;
}

body.light-theme .card:hover {
  background-color: #d1d3db;
}

body.light-theme .card::before {
  background-color: #e6e6e6;
}

body.light-theme::before {
  background: #f5f7ff;
}

body.light-theme main header.initial .theme-switcher > .switch-container {
  background: #aeb3cb;
}

body.light-theme main header.initial .theme-switcher > .switch-container::before {
  left: 2.7rem;
  background-color: #f5f7ff;
}

body.light-theme main header.initial .theme-switcher > .switch-container:hover {
  background-color: #198ff5;
}

body.light-theme main header.initial .theme-switcher > .switch-container:hover::before {
  -webkit-box-shadow: 0.2rem 0.2rem 2.3rem #fff;
          box-shadow: 0.2rem 0.2rem 2.3rem #fff;
}
/*# sourceMappingURL=styles.css.map */