//gap property is not supported in chrome browsers (<=83)

body.old header {
  padding: 4rem 0 3rem;
  header.initial {
    padding: 4rem 0;
  }
}

body.old {
  .card-container {
    gap: 0;
  }
  .card {
    margin-bottom: 2rem;
    margin-right: 1.4rem;
  }
}
