header.initial {
  display: flex;
  justify-content: space-between;
  @media (max-width: 682px) {
    flex-direction: column;
    .heading {
      margin-bottom: 2rem;
    }
    .theme-switcher {
      padding-top: 2rem;
      border-top: 0.1rem solid color($light, text);
    }
  }
  .heading p {
    margin-top: 0.5rem;
  }
}

header.initial .theme-switcher {
  display: flex;
  align-items: center;
  .label-text {
    margin-right: 1rem;
  }
  .switch-container {
    width: 5rem;
    height: 2.5rem;
    background: color($toggler, dark-theme);
    border-radius: 1.2rem;
    position: relative;
    #switch {
      opacity: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      top: 50%;
      left: 0.3rem;
      right: 100%;
      transform: translate(0, -50%);
      background-color: color($dark, bg-pattern);
      transition: left 0.5s ease;
    }
    &:hover::before {
      box-shadow: 0.3rem 0.1rem 1rem lighten(color($dark, bg-pattern), 20%);
    }
  }
  @media (max-width: 682px) {
    justify-content: space-between;
  }
}
