.overview-container {
  font-weight: 700;
  header h2 {
    font-size: 2.8rem;
    color: color($dark, heading);
  }

  .overview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .overview .card {
    display: grid;
    font-size: 1.4rem;
    width: 28rem;
    border-radius: 0.8rem;
    // place-items: center;
    padding: 2.3rem 3rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0;
    align-items: center;

    .number-sm {
      font-size: 4rem;
    }

    div:nth-child(odd) {
      justify-self: start;
    }

    div:nth-child(even) {
      justify-self: end;
    }

    div:last-child {
      align-self: end;
      margin-bottom: 1rem;
    }

    div:nth-child(2) {
      display: flex;
    }
    @media (max-width: 682px) {
      width: 100%;
    }
  }
}
