$font-family: "Inter", sans-serif;

$toggler: (
  dark-theme: linear-gradient(90deg, hsl(210, 78%, 56%) 3%, hsl(146, 68%, 55%)),
  light-theme: hsl(230, 22%, 74%),
);

$up-down: (
  up: hsl(163, 72%, 41%),
  down: hsl(356, 69%, 56%),
);

$social: (
  facebook: hsl(208, 92%, 53%),
  twitter: hsl(203, 89%, 53%),
  youtube: hsl(348, 97%, 39%),
  instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%)),
  link: #007bff,
);

$dark: (
  bg: hsl(230, 17%, 14%),
  bg-pattern: hsl(232, 19%, 15%),
  card: hsl(228, 28%, 20%),
  text: hsl(228, 34%, 66%),
  heading: hsl(0, 0%, 100%),
);

$light: (
  bg: hsl(0, 0%, 100%),
  bg-pattern: hsl(225, 100%, 98%),
  card: hsl(227, 47%, 96%),
  heading: hsl(230, 17%, 14%),
  text: hsl(228, 12%, 44%),
  toggle-hover: hsl(208, 92%, 53%),
);

//function

@function color($map, $key) {
  @return map-get($map, $key);
}
